---
http_interactions:
- request:
    method: get
    uri: https://services.qa.dhlparcel.co.uk/v2/products/parcels/deliveryProducts?countryCode=YYY&doorstepOnly=true&height=15&length=20&recipientAddressType=residential&recipientPostcode=62236&weight=5.23&width=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"title":"One or more validation errors occurred.","status":"BadRequest","Errors":{"countryCode":["Country
        code ''YYY'' is not a valid ISO code."]}}'
  recorded_at: Thu, 29 Oct 2020 15:37:10 GMT
recorded_with: VCR 5.1.0
